@charset "UTF-8";
.conteneur {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  	grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.form {
	background-color: #f6f8fa;
	border: 1px solid #d8dce3;
	grid-row: 2 / 3;
    grid-column: 3 / 4;
    border-radius: 5px;
}

.head {
	grid-row: 1;
	grid-column: 1 / 6;
	text-align: center;
}

.formulaire {
	line-height: 20px;
	padding: 5px;
	font-size: 14px;
}

label, input {
	margin: 10px;
	border-radius: 5px;
	width: 250px;
	height : 25px
}

#sub-btn {
	background-color: #1f883d;
	color: #ffffff;
	border-color: #1f232826;
}

.error {
  margin: 0 auto;
  margin-bottom: 8px;
  font-size: 12px;
  height: 40px;
  text-align: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 6px;
  background-color: #ffebe9;
  border-color: #ff818266;
  color: black;
}